<aside class="tsd-sources">
    {{#if implementationOf}}
        <p>Implementation of {{#with implementationOf}}{{> typeAndParent}}{{/with}}</p>
    {{/if}}
    {{#if inheritedFrom}}
        <p>Inherited from {{#with inheritedFrom}}{{> typeAndParent}}{{/with}}</p>
    {{/if}}
    {{#if overwrites}}
        <p>Overwrites {{#with overwrites}}{{> typeAndParent}}{{/with}}</p>
    {{/if}}
    {{#if sources}}
        <ul>
            {{#each sources}}
                {{#if url}}
                  <li>Defined in
                    <a href="https://github.com/coveo/search-ui/tree/master/src/{{fileName}}#L{{line}}">{{fileName}}
                      :{{line}}</a></li>
                {{else}}
                    <li>Defined in <a href="{{relativeURL "/media/"}}{{fileName}}">{{fileName}}:{{line}}</a></li>
                {{/if}}
            {{/each}}
        </ul>
    {{/if}}
</aside>